<% include ./partials/header.ejs %>
<div class="singlepost">
<h1>Title:<%= post.title %></h1>
<p>Author:<%= post.author %></p>

<p>Body:<%= post.body %></p>

</div>


<% include ./partials/footer.ejs %>