<div class="cont">
    <div class="search_box">
        <form action="/search" method="post" role="search">
      <input class="search_space form-group" placeholder="Search here" name="search" type="search">
    </div>
</form>
<button type="submit" class="search_btn btn btn-primary">Search</button>
</div>